body{font-family:"Microsoft Yahei";text-align:center;font-size:12px;color:#9d9c9c; background:#252525; padding:0; margin:0;}
a:hover{color:#d80000 !important;} 
.i_body{ background:#010101;}
input , textarea{font-family:"Microsoft Yahei"; color:#999; font-size:16px;}
.red{ color:#d80000 !important;}
/*头部*/
.header{ width:100%; min-width:108px; margin:0px auto; position:relative; overflow:hidden;}
.header .head_bg{ width:1920px; height:108px; background:url(../images/head_bg.png) no-repeat; position:absolute; top:0px; z-index:-1;}
.head{ width:1250px; height:108px; margin:0px auto;}
.head .logo{ width:266px; height:108px; float:left; margin-top:1px;}
.head .logo img{ width:266px; height:108px; vertical-align:top;}
.head .nav{ width:980px; height:108px; float:right; text-align:right;}
.head .nav li{ margin-left:70px; margin-top:40px;}
.head .nav li , .head .nav li a{ display:inline-block; *display:inline; zoom:1;}
.head .nav li a{ font-size:16px; color:#9d9c9c; text-align:center;}
.head .nav li a:hover , .head .nav li.now a , .head .nav li.now a span , .head .nav li a:hover span{ color:#d80000;}
.head .nav li a span{ display:block; width:100%; height:20px; line-height:20px; color:#444444; font-family:"Arial"; font-size:12px;}
/*幻灯片*/
.banner{ width:100%; min-width:1000px; overflow:hidden; height:auto; margin:0px auto;}
.banner .slider_sj{ display:none;}
.banner .flex-control-nav{ display:none;}
.banner .flex-direction-nav a{ width:47px; height:88px;top:40%;}
.banner .flex-direction-nav .flex-next { background:url(../images/next.png) no-repeat;right:-47px; }
.banner .flex-direction-nav .flex-prev { background:url(../images/prev.png) no-repeat;left:-47px;}
.banner .flexslider:hover .flex-next {opacity: 0.8; right: 3px;}
.banner .flexslider:hover .flex-prev {opacity: 0.8; left: 3px;}
.banner_s{ width:100%; height:215px; overflow:hidden; position:relative;}
.banner_s img{ width:1920px; height:215px; vertical-align:top;}
.banner_s .jt{ width:1920px; height:15px; background:url(../images/jt.png) no-repeat; position:absolute; bottom:0px; z-index:99;}
/*幻灯片*/
.box{ width:100%; min-width:1250px; border-bottom:1px solid #393939;}
.pst{ width:1250px; height:90px; margin:0px auto; position:relative; text-align:left; color:#656464;}
.pst p{ width:100%; height:20px; line-height:20px; font-size:18px; padding-top:10px; color:#3C3C3C;}
.pst span{ font-size:28px;}
.pst .wz{ width:50%; height:25px; line-height:25px; text-align:right; position:absolute; right:0px; top:42px; font-size:12px;}
.pst .wz a{ color:#656464;}
.t_box{ width:100%; min-width:1250px; height:150px; text-align:center; margin:0px auto;}
.t_box a{ display:inline-block; *display:inline; zoom:1; width:175px; height:40px; border:1px solid #9D9C9C; font-size:18px; color:#9D9C9C; font-weight:bold; line-height:40px; vertical-align:top; margin:0px 12px; margin-top:60px;}
.t_box a em{ margin-left:10px; font-family:"黑体"; font-weight:bold;}
.t_box a.now , .t_box a:hover{ color:#D80000; border:1px solid #D80000;}
.no_line{ border:0px;}
.about{ width:100%; min-width:1250px; margin:0px auto; overflow:hidden;}
.about .box{ padding:55px 0; width:1920px; position:relative;}
.about .wen{ width:740px; height:165px; overflow:hidden; text-align:left; color:#555;}
.about .wen .name{ display:inline-block; *display:inline; zoom:1; height:50px; line-height:50px; border-bottom:2px solid #515151; padding-top:10px; font-size:21px; color:#555;}
.about .wen .name span{ font-size:16px; margin-left:5px; font-family:'Ebrima'; color:#353535;}
.about .wen p{ font-size:14px; margin-top:10px; line-height:170%;}
.about .box_am{ width:1250px; height:165px; margin:0px auto;}
.about .wen_l{ float:left;}
.about .wen_r{ float:right;}
.about .tu{ width:800px; height:165px; position:absolute; top:55px;}
.about .tu img{ width:800px; height:165px;}
.about .tu_l{ left:0px;}
.about .tu_r{ right:0px;}
.foot{ width:100%; height:50px; line-height:50px; background:#050505; margin-top:50px; min-width:1250px;}
.foot .foot_m{ width:1250px; height:50px; line-height:50px; position:relative; text-align:left; margin:0px auto; overflow:hidden;}
.foot_m .f_nav , .foot_m a , .foot_m span , .foot_m .share , .lx .if_nav a{ display:inline-block; *display:inline; zoom:1; height:30px; line-height:30px; vertical-align:top; margin-top:10px;font-size:12px; color:#515151;}
.foot_m .f_nav{ margin-right:80px;}
.foot_m .f_nav a{ margin-top:0px;}
.foot_m a , .lx .if_nav a{ padding-right:11px; margin-right:10px; background:url(../images/f_line.png) no-repeat right center; font-size:12px; color:#515151;}
.foot_m .share{ position:absolute; right:0px; top:0px;}
.foot_m .share span , .foot_m .share a{ margin-top:0px;}
.foot_m .share img{ width:18px; height:15px; vertical-align:top; margin-top:8px;}
.foot_m .share a{ padding:0px; background:none;}
.ctt{ width:100%; height:256px; margin:0px auto; overflow:hidden; position:relative;}
.ctt .ctt_bg{ width:1920px; height:256px; background:url(../images/contact_bg.jpg) no-repeat; position:absolute; top:0px; z-index:-1;}
.ctt .title{ width:1250px; height:60px; line-height:60px; font-size:28px; color:#656464; text-align:left; font-size:28px; margin:0px auto; margin-top:10px;}
.ctt ul{ width:1250px; margin:0px auto;}
.ctt ul li{ float:left; text-align:left;}
.ctt ul li .li_t{ width:100%; height:30px; line-height:30px; font-size:21px; color:#919191; margin-bottom:10px;}
.ctt ul li p{ width:90%; font-size:15px; color:#656464; line-height:170%;}
.ctt ul li.tx , .ctt ul li.dz{ width:385px; background:url(../images/ctct_line.png) no-repeat right 10px;}
.ctt ul li.dz{ width:390px; margin-left:120px;}
.ctt ul li.td{ width:265px; float:right;}
.book{ width:1250px; margin:50px auto; text-align:left;}
.book ul{ width:100%;}
.book ul li{ width:381px; height:42px; line-height:42xp; border:1px solid #383838; float:left; position:relative; margin-right:50px; margin-bottom:25px; overflow:hidden;}
.book ul li input{ width:381px; height:42px; padding-left:80px; line-height:42px; border:0px; background:none;}
.book ul li.email{margin-right:0px;}
.book ul li span{ display:block; width:60px; height:42px; line-height:42px; position:absolute; left:20px; top:0px; font-size:15px; color:#9d9c9c;}
.book ul li.book_txt{ width:1248px; height:160px;}
.book ul li.book_txt textarea{ width:1248px; height:160px; padding:20px; border:0px; background:none;}
.book ul li.btn{ float:none; border:0px; margin:0px auto; padding-top:25px; margin-bottom:50px; width:130px;}
.book ul li.btn input{ width:130px; height:38px; background:#C7C7C7; text-align:center; line-height:38px; border-bottom:2px solid #767676; font-size:20px; color:#020202; padding:0px; cursor:pointer;}
.join{ width:1250px; margin:0px auto; padding:20px 0 50px; position:relative;}
.join .ye1{ width:135px; height:145px; background:url(../images/ye1.png) no-repeat; position:absolute; left:-100px; top:20px; z-index:0;}
.join .ye2{ width:83px; height:79px; background:url(../images/ye2.png) no-repeat; position:absolute; left:620px; top:200px; z-index:0;}
.join dl{ width:100%;}
.join dl dt{ width:532px; height:349px; float:right; margin-top:5px;}
.join dl dt img{ width:532px; height:349px; vertical-align:top;}
.join dl dd{ width:670px; float:left; text-align:left;}
.join dl dd .title{ width:100%; font-size:28px; color:#d80000; font-weight:bold;}
.join dl dd .title span{ font-size:22px; color:#2E2E2E; margin-left:10px;}
.join dl dd p{ font-size:14px; color:#9d9c9c; line-height:170%; margin-top:30px;}
.jstore{ width:1250px; margin:0px auto; padding:20px 0 80px;}
.jstore .left{ width:330px; float:left; text-align:left;}
.jstore .left .js_la{ width:268px; padding:20px 30px; height:180px; border:1px solid #5E5D5D; background:url(../images/jstore.jpg) no-repeat left bottom;}
.jstore .left .js_la .title{ width:100%; height:30px; line-height:30px; font-size:18px; color:#d80000; font-weight:bold; padding-top:10px;}
.jstore .left .js_la .title span{ font-size:16px; color:#9d9c9c;}
.jstore .left .js_la p{ height:125px; margin-top:5px; width:100%; font-size:14px; color:#9d9c9c; line-height:170%;}
.jstore .left .slider{ width:330px; height:310px;}
.jstore .right{ width:880px; float:right;}
.jstore .right table{ width:100%;}
.jstore .right table th ,.jstore .right table td{ text-align:left; padding:10px; height:30px; line-height:30px;}
.jstore .right table th{ border-bottom:1px solid #5E5D5D; font-size:18px;color:#FFF;}
.jstore .right table th em{ font-weight:bold;}
.jstore .right table td{ border-bottom:1px solid #2A2A2A; font-size:14px; color:#9d9c9c;}
.page{ width:100%; text-align:right; margin-top:20px;}
.page a{ display:inline-block; *display:inline; zoom:1; height:32px; line-height:32px; background:#393939; padding:0px 15px; font-size:16px; color:#FFF; margin-left:3px;}
.page a:hover , .page a.now{ background:#D70000; color:#FFF !important;}
.news{ width:1250px; margin:0px auto;}
.news .left{ width:585px; height:425px; float:left;}
.news .left .slider{ width:585px; height:425px;}
.news .left .flex-control-nav{ display:none;}
.news .flex-direction-nav a{ width:47px; height:88px; top:40%;}
.news .flex-direction-nav .flex-prev,.news .flexslider .flex-prev:hover{ background:url(../images/prev.png) no-repeat;}
.news .flex-direction-nav .flex-next,.news .flexslider .flex-next:hover{ background:url(../images/next.png) no-repeat;}
.news .right{ width:620px; float:right;}
.news .right ul{ width:100%; text-align:left;}
.news .right ul li{ border-bottom:1px dashed #4C4B4B; margin-bottom:10px; padding-bottom:8px;}
.news .right ul li h5{ width:100%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-bottom:5px; font-weight:normal;}
.news .right ul li h5 a{ font-size:19px; color:#828282;}
.news .right ul li h5 a:hover{ color:#D80000;}
.news .right ul li .des{ width:100%; height:45px; line-height:150%; font-size:14px; color:#575656; overflow:hidden;}
.news .right ul li span{ font-size:12px; color:#575757;}
.pro_lei{ width:100%; height:165px; position:relative; overflow:hidden; margin:0px auto; margin-top:-2px;}
.pro_lei .lei_bg{ width:1920px; height:165px; background:url(../images/pro_lei.jpg) no-repeat; position:absolute; top:0px; z-index:-1;}
.pro_lei .lei_m{ width:1250px; height:165px; margin:0px auto;}
.lei_m .lei_ml{ width:185px; float:left; margin-left:45px; text-align:left; padding-top:30px;}
.lei_m .lei_ml p{ font-size:22px; color:#FFFFFF; line-height:110%; font-family:Arial;}
.lei_m .lei_ml span{ font-size:20px; color:#FFFFFF; margin-top:15px; display:block;}
.lei_m .lei_ml .line{ width:32px; height:4px; border-top:2px solid #D80000; margin-top:10px;}
.lei_m .lei_mr{ width:1000px; float:right; text-align:left; padding-top:30px;}
.lei_m .lei_mr li{ display:inline-block; *display:inline; zoom:1; text-align:center; position:relative; width:170px; height:35px; border:2px solid #FFFFFF; margin-right:25px; margin-bottom:25px;}
.lei_m .lei_mr li a{ display:block; width:170px; height:35px; line-height:35px; font-size:18px; color:#FFF;}
.lei_m .lei_mr li.now a , .lei_m .lei_mr li:hover a{color:#D80000;}
.lei_m .lei_mr li.now , .lei_m .lei_mr li:hover{ border:2px solid #D80000;}
.lei_m .lei_mr li em{display:inline-block; *display:inline; zoom:1; position:absolute; right:20px; top:0px; font-family:"黑体";}
.pro_l{ width:1250px; margin:0px auto;}
.pro_l .top{ width:100%; height:175px; text-align:center; overflow:hidden;}
.pro_l .top .name{ display:inline-block; *display:inline; zoom:1; padding:0px 30px; font-size:28px; color:#585858; border-bottom:1px solid #585858; padding-bottom:13px; margin-top:50px;}
.pro_l .page{ text-align:center;}
.pro_l .p_list{ width:1250px; margin:0px auto;}
.pro_l .p_list li{ width:396px; float:left; padding-bottom:70px; border-bottom:1px dashed #3A3A3A; margin-right:30px;
margin-bottom:70px; text-align:left; height:360px;}
.pro_l .p_list li .p_m{ width:395px; height:360px; position:relative; overflow:hidden;}
.pro_l .p_list li .p_m .tu{ width:395px; height:360px; overflow:hidden;}
.pro_l .p_list li .p_m .tu img{ width:395px; height:360px; vertical-align:top;}
.pro_l .p_list li .p_m .wen{ width:395px; height:100%; position:absolute; left:0px; top:-120%; z-index:22; background:url(../images/p_bg.png) repeat; text-align:center;transition: 0.5s;-moz-transition:  0.5s;-webkit-transition:  0.5s;-o-transition:  0.5s;}
.pro_l .p_list li .p_m .wen .title{ display:inline-block; *display:inline; zoom:1; width:275px; border-bottom:1px solid #CCC; padding-top:105px; padding-bottom:10px; font-size:26px; color:#FFF;}
.pro_l .p_list li .p_m .wen p{ width:275px; margin:0px auto; color:#FFF; font-size:14px; line-height:180%; margin-top:10px;}
.pro_l .p_list li .p_m .wen span{ cursor:pointer; color:#FFF; margin-top:30px; display:inline-block; *display:inline; zoom:1;}
.tck_bg{ width:100%; height:100%; background:url(../images/bg_a.png) repeat; position:fixed; left:0px; top:100%; z-index:9999999;transition: 0.5s;-moz-transition:  0.5s;-webkit-transition:  0.5s;-o-transition:  0.5s;}
.tck_bg .tck{ display:inline-block; *display:inline; zoom:1; width:950px; height:735px; background:#232323; position:relative; color:#FFF;}
.tck_bg .tck .close{ width:60px; height:60px; background:url(../images/close.jpg) no-repeat; position:absolute; right:-60px; top:0px; z-index:9999999; cursor:pointer;}
.tck .flex-direction-nav a{ width:70px; height:120px; top:40%; background:url(../images/icon3.jpg) no-repeat;}
.tck .flex-direction-nav .flex-next { background-position:-70px -120px; right: 50px; }
.tck .flex-direction-nav .flex-prev {background-position:0 -120px;left:50px;}
.tck .flexslider .flex-next:hover {opacity: 0.8; right: 50px; background-position:-70px 0px;}
.tck .flexslider .flex-prev:hover {opacity: 0.8; left:50px;background-position:0px 0px;}
.tck .slider{ width:950px; height:735px;}
.tck .flex-control-nav{ display:none;}
.tck .flexslider .slides li{ position:relative; width:950px; height:735px;}
.tck .flexslider .slides li img{ width:950px; height:735px; caption-side:top;}
.tck .flexslider .slides li .name{ width:100%; text-align:left; position:absolute; top:0px; left:0px;}
.tck .flexslider .slides li .name .ying{ font-family:Arial; font-size:36px; color:#ffffff; margin-left:55px; margin-top:55px; font-weight:bold;}
.tck .flexslider .slides li .name span{ display:block; margin-left:55px; font-size:38px; color:#FFF; height:40px; line-height:40px;}
.tck .flexslider .slides li .name em{ display:inline-block; *display:inline; zoom:1; color:#D80000; vertical-align:top; border-bottom:2px solid #D80000; padding-bottom:15px;}
.i_box{ width:100%; text-align:center; background:#010101;}
.i_box .title{ display:inline-block; *display:inline; zoom:1; width:90%; height:auto; max-width:585px; position:relative; z-index:99;}
.i_box .title img{ width:100%; height:auto;}
.gy_m{ width:1250px; margin:0px auto; position:relative;}
.gy_m .gy_a{ width:350px; height:155px; border:1px solid #282828; position:absolute; z-index:1; top:140px;}
.gy_m .gy_a span{ display:inline-block; *display:inline; zoom:1; padding:0 15px; background:#282828; font-size:18px; color:#757474; position:absolute; bottom:-17px; left:80px; height:34px; line-height:34px;}
.gy_m .gy_b{ width:610px; margin:0px auto; text-align:center;}
.gy_m .gy_b .line{ display:inline-block; *display:inline; zoom:1; width:2px; height:75px; border-left:1px solid #282828;}
.gy_m .gy_b p{ font-size:16px; color:#999; line-height:180%;}
.gy_m .gy_c{ width:80px; height:135px; position:absolute; right:60px; top:80px; border:1px solid #282828; border-left:0px;}
.gy_m .gy_c .gy_cm{ width:275px; background:url(../images/icon4.png) no-repeat left 10px; padding-left:20px; font-size:13px; color:#999; text-align:left; position:relative; top:190px; left:-160px;}
.i_pro{ padding-top:115px; position:relative; height:1380px; width:100%; overflow:hidden;}
.i_pro .title{ position:relative; z-index:2;}
.i_pro .bg{ width:1920px; height:1300px; position:absolute; top:0px; z-index:1;}
.i_pro .bg img{ width:1920px; height:1300px;}
.i_pro_m{ width:1250px; height:880px; margin:0px auto; position:relative; z-index:3;}
.i_pro_m .tu{ width:460px; height:460px; margin:0px auto; padding-top:200px;}
.i_pro_m .tu img{ width:460px; height:460px; vertical-align:top;}
.i_pro_m .pro_m_ctn{ width:290px; text-align:left; font-size:14px; color:#999; line-height:160%; position:absolute;}
.i_pro_m .pro_m_ctn h5{ display:inline-block; *display:inline; zoom:1; height:30px; line-height:30px; background:url(../images/icon5.png) no-repeat left center; padding-left:15px;}
.i_pro_m .pro_m_ctn h5 a{ font-size:16px; color:#999; font-weight:bold;}
.i_pro_m .pro_m_ctn span{ margin-right:3px;}
.i_pro_m .pro_ma span{ color:#6bd31b;}
.i_pro_m .pro_ma { text-align:left; left:50px; top:390px;}
.i_pro_m .pro_mb{ top:80px; left:38%; text-align:center;}
.i_pro_m .pro_mc { text-align:left; right:50px; top:390px;}
.i_pro_m .pro_md{ bottom:100px; left:38%; text-align:center;}
.i_pro_m .pro_mb span{ color:#be9782;}
.i_pro_m .pro_mc span{ color:#c62828;}
.i_pro_m .pro_md span{ color:#fff;}
.xl{ width:1250px; margin:0px auto; position: relative; z-index:4;}
.xl .xl_m{ width:100%; text-align:center;}
.xl .xl_m li{ width:25%; float:left;}
.xl .xl_m li img{ width:90%; max-width:223px; height:auto; vertical-align:top;}
.xl .xl_a{ width:100%; text-align:center; line-height:180%; margin-top:80px;}
.xl .xl_a .xl_a1{ width:220px; border-top:1px solid #282828; margin:0px auto; font-size:24px; color:#959595; text-align:center; padding-top:20px;}
.xl .xl_a .xl_a1 span{ color:#ffa200;}
.xl .xl_a p{ width:100%; font-size:16px; color:#959595; margin-top:10px;}
.dp{ width:100%; overflow:hidden; margin:0px auto;}
.dp .title{ width:90%; margin:0px auto; text-align:center; margin-top:100px; position:relative; z-index:2;}
.dp .title img{ width:100%; height:auto; max-width:225px; vertical-align:top;}
.dp{ width:100%; height:1250px; margin:0px auto; position:relative;}
.dp .bg{ width:1920px; height:1250px; position:absolute; top:0px; z-index:1;}
.dp .bg img{ width:1920px; height:1250px; vertical-align:top;}
.dp .dp_l{ width:1250px; margin:0px auto; position:relative; z-index:3;}
.dp .dp_l li{ width:50%; height:490px; float:left; position:relative; margin-bottom:55px;}
.dp .dp_l li .tu{ width:330px; height:490px; position:absolute; right:0px; top:50px;}
.dp .dp_l li .tu img{ width:330px; height:490px; vertical-align:top;}
.dp .dp_l li .wen{ width:50%; text-align:left; margin-top:230px;}
.dp .dp_l li .wen .py{ font-size:14px; color:#FFF; font-family:Arial;}
.dp .dp_l li .wen .name{ display:inline-block; *display:inline; zoom:1; height:35px; line-height:35px; border:1px solid #FFF; font-size:24px; padding:0 15px; margin-bottom:8px; color:#FFF; margin-top:8px;}
.dp .dp_l li .wen .des{ width:100%; line-height:170%; font-size:13px; color:#999;}
.dp .dp_l li.one .wen .name em{ color:#81fed3;}
.dp .dp_l li.two .wen .name em{ color:#ffa23e;}
.dp .dp_l li.three .wen .name em{ color:#be551c;}
.dp .dp_l li.four .wen .name em{ color:#fff448;}
.md{ width:100%; margin-top:50px; height:1005px; overflow:hidden; position:relative;}
.md .bg{ width:1920px; height:775px; position:absolute; top:175px; z-index:1;}
.md .bg img{ width:1920px; height:775px; vertical-align:top;}
.md .md_m{ width:1250px; margin:0px auto; position:relative; z-index:99;}
.md .md_m div{ width:178px; height:178px; position:absolute;}
.md .md_m div img{ width:178px; height:178px; vertical-align:top;}
.md .md_m .dm_ma{ left:90px; top:380px;}
.md .md_m .dm_mb{ left:350px; top:620px;}
.md .md_m .dm_mc{ right:280px; top:600px;}
.md .md_m .dm_md{ right:100px; top:270px;}
.hz{ width:1250px; margin:0px auto;}
.hz .hz_m{ background:#434343; width:100%; margin-top:70px;}
.hz .hz_m dt{ width:30%; float:left; height:auto;}
.hz .hz_m dt img{ width:100%; height:auto; vertical-align:top;}
.hz .hz_m dd{ width:61%; float:right; text-align:left; margin-right:4%;}
.hz .hz_m dd .title_a{ width:100%; display:block; height:60px; line-height:60px; border-bottom:2px solid #FFF; padding-top:10px; font-size:22px; color:#FFF;}
.hz .hz_m dd .title_a em{ font-size:16px; color:#505050; margin-left:10px;}
.hz .hz_m dd .dd_m{ width:100%;}
.hz .hz_m dd .dd_m .dd_ml{ width:520px; float:left; line-height:180%; font-size:14px; color:#999; margin-top:10px;}
.hz .hz_m dd .dd_m .dd_mr{ width:170px; float:right; margin-top:15px;}
.hz .hz_m dd .dd_m .dd_mr li{ width:170px; height:45px; margin-bottom:12px;}
.hz .hz_m dd .dd_m .dd_mr li a{ display:block; width:168px; height:43px; border:1px solid #FFf; text-align:center; line-height:43px; font-size:20px; color:#FFF; font-weight:bold;}
.hz .hz_m dd .dd_m .dd_mr li a:hover{ color:#999 !important; border:1px solid #999;}
.lx{ width:100%; margin-top:50px;}
.lx .title{ margin-bottom:50px;}
.lx img{width:138px; height:114px;-webkit-filter: grayscale(100%);   -moz-filter: grayscale(100%);-ms-filter: grayscale(100%);   -o-filter: grayscale(100%);filter: grayscale(100%);filter: gray; }
.lx a:hover img{-webkit-filter: grayscale(0);-moz-filter: grayscale(0);-ms-filter: grayscale(0);-o-filter: grayscale(0);filter: grayscale(0);}
.lx p{ font-size:16px; color:#999;}
.lx .if_nav{ width:100%; height:50px; line-height:50px; text-align:center;}
.lx .if_nav a{ font-size:15px;}
.bq{ width:100%; height:68px; line-height:68px; text-align:center; font-size:12px; color:#333; border-top:1px solid #282828; margin-top:50px;}
.nav_m{ width:100%; position:relative; display:none;}
.nav_m .n_icon{ display:block; width:22px; height:18px; background:url(../images/icon_n.png) no-repeat; position:absolute; right:10px; top:-55px; cursor:pointer;}
.nav_m ul{ width:100%; display:none; padding:10px 0;}
.nav_m ul li{ width:100%; height:35px; line-height:35px; text-align:left;}
.nav_m ul li a{ display:block; width:90%; padding-left:5%; height:35px; line-height:35px; font-size:15px; color:#999;}
.nav_m ul li a span{ margin-left:5px; color:#333; font-size:13px;}
.nav_m ul li a:hover span , .nav_m ul li.now a , .nav_m ul li.now a span{ color:#d80000;}


