@charset "utf-8";
/*reset*/
html {
  -webkit-font-smoothing: antialiased;
	-ms-text-size-adjust:100%;
	 -webkit-text-size-adjust: 100%; /* 2 */
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dd,form,span,samp,p{
    margin:0;
    font-family: "微软雅黑";
}
ul,ol{
    padding-left:0; 
    list-style-type:none;
}
a {	
	cursor: pointer;
	color:#333;
	text-decoration: none;
	/*消除ie10灰色背景*/
	background-color: transparent;
	/*消除火狐虚线*/
	outline: none;
}
img {
  max-width: 100%;
	cursor: pointer;
	vertical-align: middle;
	border: 0 none;
}
body,button,input,select,textarea {
	font-size: 14px;
	font-family:  "Helvetica Neue", Helvetica, STHeiTi,"Microsoft YaHei","微软雅黑",SimSun,sans-serif;
	color:#9b9b9b;
	outline: none;
	resize: none;
}
button, input{
	/* 让 input 和 button 一样高 */
	line-height:normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner{
	padding:0;
	border:0;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
}
a,button,input{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 统一上标和下标 */
sub, sup{
	font-size:75%;
	line-height:0;
	position:relative;
}
:root sub, :root sup{
	vertical-align:baseline; /* for ie9 and other modern browsers */
}
sup{
	top:-0.5em;
}
sub{
	bottom:-0.25em;
}
strong {
	font-weight: normal;
}
mark {
	background: none;
}
/*
input,button,select,textarea {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*原子类*/
.wrapper:before,
.wrapper:after,
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.wrapper:after,
.clearfix:after {
  clear: both;
}
.wrapper,
.clearfix {
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.ta-l {
  text-align: left;
}
.va-top {
  vertical-align: top;
}
.va-middle {
  vertical-align: middle;
}
.va-baseline {
  vertical-align: baseline;
}
.va-bottom {
  vertical-align: bottom;
}
.ra1 {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.ra2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.ra3 {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.ra4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.ra5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.ra6 {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.ra7 {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.ra8 {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.ra9 {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
.ra10 {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.opa2 {
  opacity: .2;
  filter: alpha(opacity = 20);
}
.opa3 {
  opacity: .3;
  filter: alpha(opacity = 30);
}
.opa4 {
  opacity: .4;
  filter: alpha(opacity = 40);
}
.opa5 {
  opacity: .5;
  filter: alpha(opacity = 50);
}
.opa6 {
  opacity: .6;
  filter: alpha(opacity = 60);
}
.opa7 {
  opacity: .7;
  filter: alpha(opacity = 70);
}
.opa8 {
  opacity: .8;
  filter: alpha(opacity = 80);
}
.cb {
  clear: both;
}
.ti2 {
  text-indent: 2em;
}
.td-n {
  text-decoration: none;
}
.ofh {
  overflow: hidden;
}
.pos-r {
  position: relative;
}
.db {
  display: block;
}
.di {
  display: inline;
}
.dib {
   display: inline-block;
  *display: inline;
   zoom: 1;
}
.dtbc {
  display: table-cell;
  *display:inline-block;
  text-align: center;
  vertical-align: middle;
}
/*transition*/

.transition {
	transition: 0.4s ease-out;
	-moz-transition: 0.4s ease-out;
	-webkit-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
}
.transition-08 {
	transition: 0.8s ease-out;
	-moz-transition: 0.8s ease-out;
	-webkit-transition: 0.8s ease-out;
	-o-transition: 0.8s ease-out;
}
.transition-02 {
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

/*头部脚部*/
.header-ctent{width: 100%; height: 50px;background: #060e15; position: fixed; left: 0; top: 0; z-index: 999;}
.header { position: relative;  z-index: 1000; width: 1200px; margin: 0 auto;  height:50px;  line-height: 50px;  background: #060e15;}
.logo { float: left; height: inherit;}
.logo img { float: left; margin: 7px 0 0 29px; height: 35px;}
.nav { float: right;}
.nav>li { float: left;}
.nav>li>a { display: block; width: 100px; text-align: center; color: #198ede;}
.nav>li>a:hover { color: #00a1e9;}
.navs2{display: none;}
.nav>.toggle {display: none;}
.header-bar { float: right; height: 100%; overflow: hidden;}
.header-bar .tool {float: left; font-size: 12px; color: #9b9b9b;}
.header-bar .lang { color: #808080; background: url(../img/logo.png) center no-repeat;}
.header-bar .lang a { float: left; margin-right: 2px; padding: 0 8px; color: inherit;}
.header-bar .lang .line { position: relative; top: -5px; margin-top: 50%; float: left; width: 0px; height: 8px; line-height: 8px; border-right: 1px solid #dbdbdb;}
.header-bar .lang .line.first { border-right-style: dashed;}
.header-bar .tool .nobbo{display: none;}
@media screen and (max-width: 1400px) {
	.header{width: 100%;}
	.logo { width: 120px;}
  .nav>li>a { width: 110px;}
  .navs2{display: none;}
}
@media screen and (max-width: 1240px) {
  .header { height: 50px; line-height: 50px;}	
	.logo img { height: 24px; margin: 12px 0 0 5px;}
	.header-ctent{position: relative;}
}
@media screen and (max-width: 1240px) and (min-width: 1001px) {
   .nav {float: right; margin-left: 130px;}
	.nav>li>a {width: 80px; font-size: 13px;}
	.logo { width: 160px;}
}
@media screen and (max-width: 1000px) {
    body:after {width: 100%; height: 100%; position: absolute;top: 0; left: -130px;z-index: 1000;content: " ";  display: block; background: #000; opacity: 0; -webkit-transition: all 0.3s ease; transition: all 0.3s ease;visibility: hidden;}
    body.slide-left {-webkit-transform: translate(-130px, 0); -ms-transform: translate(-130px, 0); transform: translate(-130px, 0);}
    html.holding, body.holding { height: 100%; overflow: hidden;}
    body.slide-left:after {visibility: visible;opacity: 0.3; z-index: 1002;-webkit-transition: none;transition: none; }
    body.holding-right {margin-right: -130px; padding-right: 130px;}
    .nav {display: none;}
    .nav.on {position: absolute;left: 100%;top: 0;display: block;width: 130px;height: 2000px;background: #3c3c44;}
    .nav>li {float: none;display: block;}
    .nav>li>a {width: auto;color: #fff;padding-left: 20px;text-align: left;}
    .header-bar .search {margin: 0;font-size: 0;}
    .header-bar .search-trigger {display: inline-block;vertical-align: middle;margin-left: 10px;padding: 0 10px;font-size: 20px;border-left: 1px solid #eee;border-right: 1px solid #eee;}

    .header.showsch .logo {height: 35px;}
    .header.showsch .search-wrp {display: block;}
    .header-bar .trigger  {display: block;}
    .header-bar .tool .nobbo{display: block; margin-top: 12px;}
}
@media screen and (max-width: 768px) {
	.navs1{display: none;}
	.navs2{display: block;}
	.ft-links a {display: inline-block;margin: 0 10px;height: 24px;}
	.ft-links span {display: none;}
}
@media screen and (max-width: 600px) { 
    .header-bar .share { display: none;}

}


/*footer*/
.footer{width: 100%; padding: 20px 0; background-color: #060e15; text-align: center;}
.footer p{color: #E1E1E1; font-size: 14px; width: 90%; margin: 0 auto;}